<h4>TIME TO BET!!!!!</h4>
<p>
You have $<%= session[:player_wallet] %> to bet!
How much do you want to bet?
</p>
<% if session[:bet]!=nil %>
  <% if !okay_bet(session[:bet])%>
    Be mindful of how much money you have!!! Bet less :)
  <% end %>
<% end %>

<br>


<form action='/bet' method='post'>
$ <input type='text' name='bet' placeholder = 'High Risk, High Reward :)'/>
<br>
<input type='submit' class='btn'/>
</form>



