<h4>Hi <%= session[:player_name] %></h4>

The Dealer cards are:
<ul>
<% session[:dealer_cards].each do |card| %>
  <li><%= show_card(card) %> </li>
<% end %>
</ul>

<br>
<br>

Your cards are:
<ul>
<% session[:player_cards].each do |card| %>
  <li><%= show_card(card) %> </li>
<% end %>
</ul>

Your total is <%= calculate_total(session[:player_cards]) %>

<br>
<br>

Would you like to hit?

<br>
<br>

<form action='/game' method='post'>
<input type='submit' name='button' value='Yes'>
<input type='submit' name='button' value='No'>
</form>
